.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 100px;
	padding: 0 80px;
	margin-top: 0;
	margin-bottom: 30px;
	z-index: 1000;
}
.title {
	font-size: 16px;
	font-weight: bold;
}
.socials {
	display: flex;
	gap: 40px;
	align-items: center;
}

.socials i {
	font-size: 32px;
	cursor: pointer;
	color: var(--white-smoke);
	transition: all 0.3s ease;
}
.socials i:hover {
	color: white;
}
@media (max-width: 768px) {
	.header {
		padding: 0 20px;
	}
	.title {
		font-size: 16px;
	}
	.socials {
	display: flex;
	gap: 10px;
	align-items: center;
}
	.socials i {
		font-size: 24px;
	}
}
@media (max-width: 480px) {
	.header {
		padding: 0 10px;
	}
	.title {
		font-size: 12px;
	}

	.socials {
	display: flex;
	gap: 5px;
	align-items: center;
}
	.socials i {
		font-size: 16px;
	}
}