.itemGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 80px;
    justify-content: flex-start;
    margin: 0 auto;
}
@media (max-width: 768px) {
	.itemGrid {
        align-items: center;
        gap: 40px;
        margin: auto;
        justify-content: center;
	}
	
}