*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
:root {
	font-family: Poppins, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(245, 245, 245, 0.8);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
	--white-smoke: rgb(245, 245, 245);
	--green-color: #a8ff35;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	padding: 0 80px;
	background-color: #000000;
	position: relative;
}
button {
	background-color: var(--green-color);
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	border: none;
	padding: 10px 20px;
	border-radius: 16px;
	cursor: pointer;
	z-index: 1;
	transition: box-shadow 0.3s ease;
	height: 50px;
	width: 180px;
	box-shadow: 0 0 15px 5px #a8ff35
}
button:hover {
	box-shadow: 0 0 25px 8px #a8ff35;
	
}
button:active {
	transform: scale(0.9);
}